@{
    ViewBag.Title = "Home Page";
}

<body style="background-color: greenyellow">


    <div class="jumbotron" style="background-color: olivedrab">
        <h1><b>Indy Gaming Inc.</b></h1>
        <p class="lead">Easily find games, consoles, and publishers on any available platform!</p>
        <p><a class="btn btn-info btn-lg" href="https://localhost:44367/Home/About">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2><b>View Game Library</b></h2>
            <p>
                View our entire library of games to find out which console/platform they are available on, who created the game, and many other features!
            </p>
            <p><a class="btn btn-success" href="https://localhost:44367/Game">GAMES &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2><b>View Available Consoles</b></h2>
            <p>View our Console Library to see all available devices to learn about the cost and features</p>
            <p><a class="btn btn-success" href="https://localhost:44367/Console">CONSOLES &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2><b>View Publishing Companies</b></h2>
            <p>Have you ever loved a game and wanted to know who made it and what else have they made?</p>
            <p><a class="btn btn-success" href="https://localhost:44367/Publisher">PUBLISHERS &raquo;</a></p>
        </div>
    </div>
</body>