@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Game Shop</h1>
    <p class="lead">Easily find games, consoles, and publishers on any available platform!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Game Library</h2>
        <p>
            View our entire library of games to find out which console/platform they are available on, who created the game, and many other features!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">GAMES</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Available Consoles</h2>
        <p>View our Console Library to see all available devices to learn about the cost and features</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">CONSOLES</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Publishing Companies</h2>
        <p>Have you ever loved a game and wanted to know who made it and what else have they made?</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">PUBLISHERS</a></p>
    </div>
</div>